
	.youtube {
		background-color: #a10001;
		color: white;
		border: none;
		padding-left:16px;
		padding-right: 16px;
		padding-bottom: 10px;
		padding-top: 10px;
		
		border-radius: 2px;
		cursor: pointer;
		margin-right: 8px;
		transition: opacity 0.2s;
		vertical-align: top;


    }

	.youtube:hover {
		opacity: 0.7;
		

	}

	.youtube:active {
		opacity: 0.4;
		
	}
	.twitter-join {
		background-color: white;
		border-color: rgb(41, 118, 211);
		border-style: solid;
		border-width: 1px;
		color: rgb(41, 118, 211);
		padding-left:16px;
		padding-right: 16px;
		padding-bottom: 9px;
		padding-top: 9px;
		
		border-radius: 2px;
		cursor: pointer;
		margin-right: 8px;
		transition: background-color 0.2s, color 0.2s
		vertical-align:top;	
	}
	.twitter-join:hover {
		background-color: rgb(15,100,240);
		color:white;
	}

	.twitter-join:active {
		opacity: 0.7;
	}


	.tweet-button {
		background-color: rgb(2, 137, 255);
		color: white;
		border: none;
		height: 36px;
		width: 74px;
		border-radius: 18px;
		font-weight: bold;
		font-size: 15px;
		cursor: pointer;
		vertical-align: top;
		         }
	.tweet-button:active {
		opacity: 0.7;
		transition: opacity 0.2s
	}	         

	.tweet-button:hover {
		box-shadow: -1.5px 3px 10px rgba(0, 0, 0, 0.15);
		transition: box-shadow 0.1s

	}

	.back {
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 10px;
	}
	.next {
		margin-left: 10px;


	}

	a {
		margin: 0 3px;
	}
	

	
.stretch {
	border: none;
	color: white;
	background-color: green;
	margin-top: 30px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	transition: padding-left 0.4s,
	padding-right 0.4s,
	padding-top 0.4s,
	padding-bottom 0.4s;
	}

	
.stretch:hover {


	padding-left: 30px;
	padding-right: 30px;
	padding-top: 16px;
	padding-bottom: 16px;
	
}




